
body{
margin: 0;

}

header{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.page-header{
  background-image: url('../img/header-img.jpg');
  height: 560px;
  width: 1280px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


.nav-row{
display: inline-flex;
align-items: center;
background-color: black;
margin: 0;
width: 1280px;
height: 48px;
padding: 0 20px 0 20px;
}


.nav-item{
  display: inline;
  width: 1280px;
  font-size: 17px;
  text-align: center;
  color: white;
}

li a{
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

header{
  text-align: center;

}

.main-heading{
font-family: 'Josefin Sans';
font-size: 80px;
z-index: 1;
position: relative;
top: 40px;

}

.sub-heading{
font-family: 'Dancing Script';
 color: white;
 font-size: 60px;
 text-shadow: 2px 3px 3px black;
 position: relative;
 z-index: 2;
 bottom: 60px;
}



main{
background-color: #FEF9ED;
border: solid #E9E9E8;
margin: 40px;
position: relative;
bottom: 80px;
z-index: 3;
}


div{
  display: inline-block;
  flex-wrap: wrap;
  text-align:;
  background-color: #FFFFFF;
  margin-bottom: px;
  width: 100%;
  position: ;
  z-index: 4;
}

.blog-img{
  border-color: #C3C3C3;
  border-style: solid;
  width: 90%;
  display: flex;
  z-index: 1;
}

.item{
  border-style: solid;
  border-color: #EFEADF;
  border-width: thin;
  border-spacing: 1px;
  width: 40%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 120px;
  background-color: #FFFFFF;
  box-shadow: 1px 4px 3px 3px #AFABA2;
  z-index: 2;
}

.icon-wrapper{
  display: flex;
  color: #FFFFFF;
  background-color: #EFEADF;
  position: relative;
  align-content: center;
  z-index: 3;
}

.meta{
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.date{
  width: 40%;
  display: flex;
  float: left;
  z-index: 2;
}

.category{
  width: 25%;
  display: flex;
  float: right;
  z-index: 2;
}

#dino{
  background-image: url('../img/dino.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  height: 250px;
  width: 250px;
}

#xx{
  background-image: url('../img/xx.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  height: 250px;
  width: 250px;
}

#yacht{
  background-image: url('../img/yhact.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  height: 250px;
  width: 250px;
}

.entry-title{
  font-family: 'josefin sans';
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
}

.primary-txt{
  margin-left: 5px;
  font-size: 17px;
}

aside{
  border: solid #EFEADF;
  background-color: #EFEADF;
  position: relative;
  float: right;
  margin-right: 40px;
  width: 25%;
  z-index: 3;

}

.author{
  background-image: url('../img/author.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: round;
  height: 200px;
  width: 200px;
  margin: 20px;
  z-index: 4;

}
hr{
  border-style: solid;
  width: 80%;
}

.aside-heading{
font-family: 'josefin sans';
font-size: 20px;
margin: 35px;
text-align: center;
font-weight: bold;
}


footer{
  background-color: black;
  display: inline-block;
  text-align: center;
  width: 1280px;
  height: 25px;
}

footer span{
  text-align: center;
  background-color: black;
  color: white;
}
